@import "../variable";
body {
    .container {
        .article__3 {
            h2 {
                text-align: center;
                margin-bottom: 25px;
                font-size: clamp(1.7rem, 3.6vw, 2.1rem);
            }
            p {
                text-align: center;
                font-size: clamp(0.8rem, 2.4vw, 0.9rem);
                color: #9194a1;
            }
        }
    }
}