body {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        .container {
            width: 90%;
        }
        .nav {
            .nav__container {
                width: 90%;
            }
        }
    }
}
